.captais-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.captal-card {
    display: flex;
    background-color: red;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}

.captal-icon {
    font-size: 1.5rem;
    color: white;
}