#root {
  max-width: 1280px;
  width: 100%;
  /* text-align: center; */

}

.menu-container {
  max-width: 1440px;
  background-color: black;
  height: 100vh;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}

.menu-header {
  display: flex;
  justify-content: space-between;
}

.menu-body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}